h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}



.card-mb-4 .row {
    float: left;
    width: 100px;
    margin: 0px;
    border-color:blue;
}

.card-mb-4 .box .row .top {
    padding: 2px;
    background-color: blue;
    color: white;
    cursor: pointer;

}

.card-mb-4 .box .row .bottom {
    padding: 14px;
    background-color: whitesmoke;
    color: white;
    display: none;
}

.title-content a:hover {
    color: dodgerblue;
}
