* {
	margin: 0px;
	padding: 0px;
}

body {

	font-size: 120%;
	background: #F8F8FF;
}
.header {
	width: 30%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: #5F9EA0;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;

}

form, .content {
	width: 30%;
	margin: 0px auto 0px;
	background: white;
	border: 1px solid #B0C4DE;
	border-radius: 0px 0px 10px 10px;
	padding: 20px;
	height: 30%;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 2px;
}

.input-group input {
	height: 20px; 
	width: 70%;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid gray;

}

.btn{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;

}
.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;

}

.nav{
	text-align: center;
	width: 80%;
	height: 20px;
	background: blue;

}

.ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.error{
	width: 80%;
	font-size: 14px;
	margin: 6px 0px 6px 0px;
	padding: 0px;
	color: red;
	background: white;
	text-align: left;
	

}
